<template>
  <section class="section">
    <div class="container content">
      <h1 class="is-centered">Safety Program</h1>

      <p>
        ECO USPSA is dedicated to safety in our sport and all shooters are
        required to demonstrate competition-specific safety prior to shooting their
        first match at a ECO USPSA club.
      </p>

      <p>
        New shooters are encouraged to bring eye and ear protection and watch a
        match to see if it this sport is of interest to you.
      </p>

      <p>
        If interested, contact any of the clubs to inquire when the next safety
        session will be held for you to earn your ECO USPSA Safety Verification Card
        which is accepted at all ECO USPSA clubs.
      </p>

      <p>
        Current USPSA members who have not shot an ECO USPSA match can provide
        their USPSA Card with a current USPSA classification (which is evidence of
        completing at least 4 USPSA matches) in lieu of the safety card.
      </p>

      <p>See the two documents below for additional information:</p>

      <ul>
        <li>
          <a href="/New_Competitor_Safety_Briefing_8-9-2022.pdf">New Competitor Safety Briefing (PDF)</a>
        </li>
        <li>
          <a href="/miscstatic/USPSA%20Introduction.pdf">USPSA Introduction (PDF)</a>
        </li>
      </ul>
    </div>
  </section>
</template>
