<template>
  <section class="section">
     <div class="container content">
      <h1 class="is-centered">Section Information</h1>

      <p>The Eastern Colorado section of USPSA in accordance with its own bylaws and those of USPSA nationally adopts uniform policies for certain topics of section-wide interest, such as training of new shooters and centralized tracking of disqualifications. This not only serves as a resource for new clubs and new club officials, but also ensures competitors visiting clubs do not encounter any surprises as it comes to logistical matters and other items that do not appear in the rulebook.</p>

      <p>Club presidents and members of clubs' boards of directors should use these policies in the efficient running of their clubs. Range Officers and other interested shooters are welcome to read them as well -- there are no "secret" policies. Questions, complaints, and concerns should be directed first to the nearest club president, who may be able to help you out, or the current Section Coordinator. Annual(-ish) section meetings, usually announced to the ECOUSPSA distribution list, are also an available forum to pursue changes.</p>

      <p>Current section documents:</p>

      <ul>
        <li><a href="/ECO Bylaws Revision 1-11-2022 - Final.pdf">Section Bylaws (PDF)</a></li>
        <li><a href="/New_Competitor_Safety_Briefing_8-9-2022.pdf">New Competitor Safety Briefing (PDF)</a></li>
        <li><a href="/20200805_SafetyClassPolicy-final.pdf">Safety class policy (PDF)</a></li>
        <li><a href="/20200718-ECO USPSA Repeat DQ Policy-final.pdf">Repeat DQ policy (PDF)</a></li>
        <li><a href="/20200805_QS Update.pdf">Nationals slot policy (PDF)</a></li>
      </ul>
    </div>
  </section>
</template>
